* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;

}

input {
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-calcular {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
    margin-top: 20px;
    gap: 10px;
}

.button-limpar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    margin-top: 20px;
    gap: 10px;
}

.style-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}